
$blue-color-dark: #123456;
$blue-color-bright: #55ddff;
$blue-color-contrast: #123789;
$grey-color-light: #ccc;
$grey-color-dark: #666;

$space-width: 1em;

$header-height: 500px;
$header-image-url: '../images/vue.jpg';
$header-text-color: #FFF;
$header-line-height: 50px;

$statistics-border-width: 1px;
$statistics-border-style: solid;

$sidebar-width: 30%;

